@import 'base-web.less';
@import 'typography.less';
@import 'bootstrap/mixins';

@import '../js/views/layouts/app-layout.less';
@import '../js/views/widgets/preload.less';
@import 'staging-indicator.less';
@import '../js/views/modals/permissions/permissions-view';
@import 'base-left-menu';

//Left Menu
@import '../js/views/menu/room/layout/room-menu-layout.less';

//TODO move this out
.application-container {
  display: flex;
  flex-direction: row;
}
